html{overflow-y:scroll; overflow-x: hidden;}
body,div,ul,li,ol,span,img,input,form,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd,i,em,b{ margin:0; padding:0;}

body{ width: 100%;font-size:12px;font-family:"PingFangSC-Regular";}
a{ text-decoration:none; color:#666666; }
li{ list-style:none; }
img{ border:none 0; display: block;}
input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }                  
input,textarea{ padding:0;}
input::-ms-clear{display:none;}

i,em{
    font-style:normal;
}
b{
    font-weight: normal;
}


.left{ float:left; _display:inline; }
.right{ float:right; _display:inline; }
.clear:after{ display:block; content:''; clear:both;}
.clear{ zoom:1;}

.header{
    position: relative;
    height: 0.88rem;;
    width: 100%;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.05);
}

.header span{
    position: absolute;
    width: 0.70rem;
    height:100%;
    top: 0;

}
.header .headers-left{
    left: 0;
    background:url("../images/storeBg/btn_back.png")no-repeat right center;
    background-size: 0.3rem 0.2rem;
}
.header .headers-right{
    right: 0;
    background:url("../images/icon_05.png")no-repeat left center;
    background-size: 0.3rem 0.3rem;
}
.header em{
    display: block;
    position: absolute;
    height: 0.3rem;
    width: 0.3rem;
    background:url("../images/icon_03.png")no-repeat left center;
    background-size: 100%;
    top: 0.29rem;
    right: 1rem;
}
.header h4{
    width: 100%;
    text-align: center;
    line-height: 0.88rem;
    height: 100%;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333333;
    font-weight: normal;

}
.header h4 p{

    width: 3.58rem;
    height: 0.56rem;
    margin: 0.16rem auto;
    border: 1px solid #979797;
    border-radius: 100px;
    position: relative;
    box-sizing: border-box;
}


.goodsMains{
    width: 100%;
    position: absolute;
    top: 0.88rem;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
}
.goodsMain{
    overflow: hidden;
    font-family: PingFangSC-Light;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 0.2rem;

}

.goodList li{
    float: left;
    width: 33.33%;
    text-align: center;
    position: relative;
    line-height:0.7rem;
    height:0.7rem;
}
.goodList li a{
    font-size: 14px;
    color: #CCC;

}
.goodList li.active a{
    color: #333;
}
.goodList li.bg{
    background: url("../images/storeBg/TriangleCopy.png") no-repeat 70% center;
    background-size: 0.14rem 0.06rem;
}
.goodList li.active :after{
    position: absolute;
    height: 3px;
    width: 0.68rem;
    background-color: #333;
    display: table;
    content: " ";
    right: 33.33%;
    top: 0.7rem;
}
.goodss{
    width: 100%;
}
.goodss li{
    float: left;
    width: 48.7%;
}
.goodss li:nth-child(2n){
    margin-left:2.6%;
}
.goodss li a{
    display: block;
}
._goodsMain{
    width: 100%;
}
._goodsMain img{
     width: 100%;
     height: auto;
}

._goodsMain p{
    font-size: 12px;
    color: #333333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}
._goodsMain span{
    font-size: 12px;
    color: #333333;   
    display: block;
}
